<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Siemreap&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v20_49">
        <form method='post' action={{ url_for('atm') }}>
            <div class="v20_88">
                <input type='number' name='money' style="width:100%;height: 100%;font-size :40px;background-color:gainsboro;"/>
            </div>
            <span class="v21_154">轉入金額：</span>
            
            <div class="v149_95">
                <button type="submit" class="button">confirm</button>
            </div>
        </form>

        <div class="v210_40">
            <div class="v210_41"></div>
            <div class="v210_42"></div>
            <div class="v210_43"></div>
            <div class="v210_44">
                <a href="./manu.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="head_icon">
                <a href="./Info.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
        </div><span class="v212_2">ATM</span>
    </div>
</body>

</html>