<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v20_43"><span class="v21_104">外幣總額</span><span class="v21_105">今日焦點：</span><span
            class="v21_106">檢視全部</span><span class="v21_107">我的外幣：</span><span class="v21_108">$ 55688</span><span
            class="v21_148"> 歐元 上升 9.3%</span><span class="v21_151"> 美元 $388</span><span class="v21_152"> 日幣 $388</span>
        <div class="v164_59"></div>
        <div class="v164_60"></div>
        <div class="v210_34">
            <div class="v210_35"></div>
            <div class="v210_36"></div>
            <div class="v210_37"></div>
            <div class="v210_38">
                <a href="./manu.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="head_icon">
                <a href="./Info.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>