<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Siemreap&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v20_55">
        <div class="v149_99">
            <a href="./login.html">
                <button type="button" class="button"></button>
            </a>
        </div>
        <span class="v20_87">LogOut</span><span
            class="v20_84">Hello, User</span>
        <div class="v20_85"></div>
        <div class="v210_46">
            <div class="v210_47"></div>
            <div class="v210_48"></div>
            <div class="v210_49"></div>
            <div class="v210_50">
                <a href="./manu.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="head_icon"></div>
        </div>
    </div>
</body>

</html>