<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Siemreap&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_13">
        <div class="v210_52">
            <div class="v211_12"></div>
            <div class="v210_54"></div>
            <div class="v210_56"></div><span class="v211_13">登入介面</span>
        </div><span class="v211_4">confirm</span>
        
        <form method='post' action={{ url_for('login') }}>
            <div class="v211_6">
                <span class="v211_8">Account：</span>
                <div class="v211_7">
                    <input type='text' name='uid' style="width:100%;height: 100%;font-size :40px;background-color:gainsboro;"/>
                </div>
            </div>
            <div class="v211_9">
                <span class="v211_11">Password：</span>
                <div class="v211_10">
                    <input type='password' name='upass' style="width:100%;height: 100%;font-size :40px;background-color:gainsboro;"/>
                </div>
                <span class="v219_19"><a href="./register.html"> 註冊連結</a></span>
            </div>
            <div class="v211_5">
                <button class="button" type="submit">Login</button>
            </div>
        </form>

    </div>
</body>

</html>