* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.button {
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 1;
  border: none;
  color: rgba(37,81,70,1);
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.v219_2 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v219_3 {
  width: 374px;
  height: 200px;
  background: url("./v219_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v219_4 {
  width: 374px;
  height: 114px;
  background: url("./v219_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v219_5 {
  width: 374px;
  height: 93px;
  background: url("./v219_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v219_6 {
  width: 62px;
  height: 63px;
  background: url("./v219_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v219_7 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 158px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v219_8 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 701px;
  left: 132px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v219_9 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 116px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v219_10 {
  width: 325px;
  height: 107px;
  background: url("./v219_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 26px;
  overflow: hidden;
}
.v219_11 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v219_12 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v219_13 {
  width: 325px;
  height: 107px;
  background: url("./v219_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 26px;
  overflow: hidden;
}
.v219_14 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v219_15 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v219_16 {
  width: 325px;
  height: 107px;
  background: url("./v219_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 515px;
  left: 28px;
  overflow: hidden;
}
.v219_17 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v219_18 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v219_19 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 170px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: right;
}
.v20_49 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_88 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v20_89 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 23px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v21_153 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_154 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v149_95 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 116px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v149_96 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 669px;
  left: 132px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v210_40 {
  width: 374px;
  height: 193px;
  background: url("v210_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_41 {
  width: 374px;
  height: 114px;
  background: url("v210_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_42 {
  width: 374px;
  height: 93px;
  background: url("v210_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_43 {
  width: 47px;
  height: 47px;
  background: url("v210_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_44 {
  width: 62px;
  height: 63px;
  background: url("v210_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v212_2 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 159px;
  left: 25px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v20_49 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_88 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v20_89 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 367px;
  left: 23px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v20_91 {
  width: 325px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 153px;
  left: 65px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v21_153 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_154 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 23px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v149_95 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 116px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v149_96 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 669px;
  left: 132px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v210_40 {
  width: 374px;
  height: 193px;
  background: url("v210_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_41 {
  width: 374px;
  height: 114px;
  background: url("v210_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_42 {
  width: 374px;
  height: 93px;
  background: url("v210_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_43 {
  width: 47px;
  height: 47px;
  background: url("v210_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_44 {
  width: 62px;
  height: 63px;
  background: url("v210_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v20_43 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_104 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 159px;
  left: 25px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v21_105 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 289px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_106 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 263px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_107 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 624px;
  left: 29px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_108 {
  width: 303px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 222px;
  left: 32px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v21_148 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 32px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v21_151 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 670px;
  left: 38px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v21_152 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 735px;
  left: 38px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v164_59 {
  width: 325px;
  height: 135px;
  background: url("v164_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v164_60 {
  width: 325px;
  height: 163px;
  background: rgba(211,222,208,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 415px;
  left: 25px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v210_34 {
  width: 374px;
  height: 193px;
  background: url("v210_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_35 {
  width: 374px;
  height: 114px;
  background: url("v210_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_36 {
  width: 374px;
  height: 93px;
  background: url("v210_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_37 {
  width: 47px;
  height: 47px;
  background: url("v210_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_38 {
  width: 62px;
  height: 63px;
  background: url("v210_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v20_55 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v149_99 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 702px;
  left: 117px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v149_100 {
  width: 208px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 622px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v20_87 {
  width: 86px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 707px;
  left: 146px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v20_86 {
  width: 173px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 627px;
  left: 102px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v20_84 {
  width: 325px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 233px;
  left: 25px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v20_85 {
  width: 169px;
  height: 169px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 102px;
  border-radius: 50%;
}
.v210_46 {
  width: 374px;
  height: 193px;
  background: url("v210_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_47 {
  width: 374px;
  height: 114px;
  background: url("v210_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_48 {
  width: 374px;
  height: 93px;
  background: url("v210_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_49 {
  width: 47px;
  height: 47px;
  background: url("v210_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_50 {
  width: 62px;
  height: 63px;
  background: url("v210_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v1_13 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_20 {
  width: 325px;
  height: 43px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 25px;
}
.v6_21 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 328px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_16 {
  width: 325px;
  height: 43px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 25px;
}
.v6_17 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 181px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_22 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 115px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v112_26 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 532px;
  left: 131px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v210_52 {
  width: 374px;
  height: 102px;
  background: url("v210_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_54 {
  width: 374px;
  height: 93px;
  background: url("v210_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_56 {
  width: 62px;
  height: 63px;
  background: url("v210_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v1_2 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v207_59 {
  width: 109px;
  height: 104px;
  background: url("v207_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 51px;
  overflow: hidden;
}
.v17_19 {
  width: 109px;
  height: 104px;
  background: rgba(79,144,133,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v207_48 {
  width: 45px;
  height: 41px;
  background: url("v207_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 31px;
  overflow: hidden;
}
.v149_78 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v207_60 {
  width: 109px;
  height: 104px;
  background: url("v207_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 209px;
  overflow: hidden;
}
.v17_20 {
  width: 109px;
  height: 104px;
  background: rgba(90,151,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v207_42 {
  width: 45px;
  height: 45px;
  background: url("v207_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 32px;
  overflow: hidden;
}
.v149_93 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 68px;
  left: 20px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v207_61 {
  width: 109px;
  height: 104px;
  background: url("v207_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 209px;
  overflow: hidden;
}
.v17_18 {
  width: 109px;
  height: 104px;
  background: rgba(90,151,140,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v207_40 {
  width: 43px;
  height: 45px;
  background: url("v207_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 33px;
  overflow: hidden;
}
.v149_77 {
  width: 71px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 19px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v207_62 {
  width: 109px;
  height: 104px;
  background: url("v207_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 51px;
  overflow: hidden;
}
.v17_17 {
  width: 109px;
  height: 104px;
  background: rgba(79,144,133,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
}
.v207_50 {
  width: 40px;
  height: 39px;
  background: url("v207_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 40px;
  overflow: hidden;
}
.v133_26 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 67px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v207_63 {
  width: 376px;
  height: 215px;
  background: url("v207_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 1px;
  overflow: hidden;
}
.v207_56 {
  width: 376px;
  height: 215px;
  background: url("v207_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v164_56 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 133px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v207_58 {
  width: 374px;
  height: 193px;
  background: url("v207_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v207_54 {
  width: 374px;
  height: 114px;
  background: url("v207_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v112_7 {
  width: 374px;
  height: 93px;
  background: url("v112_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v207_33 {
  width: 47px;
  height: 47px;
  background: url("v207_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v207_69 {
  width: 62px;
  height: 63px;
  background: url("v207_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.head_icon{
  width: 47px;
  height: 47px;
  background: url("head_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 300px;
  overflow: hidden;
}
.v207_57 {
  width: 169px;
  height: 169px;
  background: url("v207_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 17px;
  overflow: hidden;
}
.v207_52 {
  width: 169px;
  height: 169px;
  background: url("v207_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_22 {
  width: 144px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 78px;
  left: 11px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v17_21 {
  width: 112px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 41px;
  left: 32px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v17_3 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_109 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 23px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v21_111 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 158px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v21_112 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 316px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_114 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_115 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v112_148 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 116px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v112_149 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 701px;
  left: 132px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v210_22 {
  width: 374px;
  height: 193px;
  background: url("v210_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_23 {
  width: 374px;
  height: 114px;
  background: url("v210_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_24 {
  width: 374px;
  height: 93px;
  background: url("v210_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_25 {
  width: 47px;
  height: 47px;
  background: url("v210_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_26 {
  width: 62px;
  height: 63px;
  background: url("v210_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v17_10 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_94 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 154px;
  left: 13px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v21_96 {
  width: 193px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 464px;
  left: 25px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_143 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 515px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}
.v21_144 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}
.v21_145 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 682px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v21_150 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 731px;
  left: 19px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v21_98 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 463px;
  left: 268px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_97 {
  width: 191px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 635px;
  left: 27px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v21_95 {
  width: 303px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 229px;
  left: 29px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v164_107 {
  width: 276px;
  height: 152px;
  background: rgba(1,80,51,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 53px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v164_106 {
  width: 210px;
  height: 148px;
  background: url("v164_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 83px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v210_28 {
  width: 374px;
  height: 193px;
  background: url("v210_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v210_29 {
  width: 374px;
  height: 114px;
  background: url("v210_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_30 {
  width: 374px;
  height: 93px;
  background: url("v210_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_31 {
  width: 47px;
  height: 47px;
  background: url("v210_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 20px;
  overflow: hidden;
}
.v210_32 {
  width: 62px;
  height: 63px;
  background: url("v210_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v1_13 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_52 {
  width: 374px;
  height: 200px;
  background: url("v210_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v211_12 {
  width: 374px;
  height: 114px;
  background: url("v211_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v210_54 {
  width: 374px;
  height: 93px;
  background: url("v210_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v210_56 {
  width: 62px;
  height: 63px;
  background: url("v210_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 155px;
  overflow: hidden;
}
.v211_13 {
  width: 153px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 158px;
  left: 18px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v211_4 {
  width: 113px;
  color: rgba(37,81,70,1);
  position: absolute;
  top: 701px;
  left: 132px;
  font-family: Siemreap;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v211_5 {
  width: 144px;
  height: 45px;
  background: rgba(180,202,186,1);
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 116px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v211_6 {
  width: 325px;
  height: 107px;
  background: url("v211_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 23px;
  overflow: hidden;
}
.v211_7 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v211_8 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v211_9 {
  width: 325px;
  height: 107px;
  background: url("v211_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 25px;
  overflow: hidden;
}
.v211_10 {
  width: 325px;
  height: 60px;
  background: rgba(237,239,242,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v211_11 {
  width: 153px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}