<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_2">
        <div class="v207_59">

            <div class="v17_19">
                <a href="./fori.html">
                    <button type="button" class="button"></button>
                </a>
            </div>

            <div class="v207_48">
                <a href="./fori.html">
                    <button type="button" class="button"></button>
                </a>
            </div><span class="v149_78">外幣總額</span>
            
        </div>
        <div class="v207_60">
            <div class="v17_20">
                <a href="./atm.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="v207_42">
                <a href="./atm.html">
                    <button type="button" class="button"></button>
                </a>
            </div><span class="v149_93">ATM</span>
        </div>
        <div class="v207_61">
            <div class="v17_18">
                <a href="./view.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="v207_40">
                <a href="./view.html">
                    <button type="button" class="button"></button>
                </a>
            </div><span class="v149_77">總資產</span>
        </div>
        <div class="v207_62">
            <div class="v17_17">
                <a href="./trans.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="v207_50">
                <a href="./trans.html">
                    <button type="button" class="button"></button>
                </a>
            </div><span class="v133_26">同行轉帳</span>
        </div>
        <div class="v207_63">
            <div class="v207_56"></div><span class="v164_56">id: {{id}}</span>
        </div>
        <div class="v207_58">
            <div class="v207_54"></div>
            <div class="v112_7"></div>
            <div class="v207_33"></div>
            <div class="v207_69"></div>
            <div class="head_icon">
                <a href="./Info.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
        </div>
        <div class="v207_57">
            <div class="v207_52"></div><span class="v17_22">$ {{money}}</span><span class="v17_21">我的NTD</span>
        </div>
    </div>
</body>

</html>