<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Siemreap&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v17_3">
        <form method='post' action={{ url_for('trans') }}>
            <div class="v21_109">
                <input type='text' name='inid' style="width:100%;height: 100%;font-size :40px;background-color:gainsboro;"/>
            </div><span class="v21_111">同行轉帳</span><span class="v21_112">轉入帳號：</span><span
                class="v21_114">轉入金額：</span>
            <div class="v21_115">
                <input type='number' name='money' style="width:100%;height: 100%;font-size :40px;background-color:gainsboro;"/>
            </div>
            <div class="v112_148">
                <button class="button" type="submit">confirm</button>
            </div>
        </form>
        <div class="v210_22">
            <div class="v210_23"></div>
            <div class="v210_24"></div>
            <div class="v210_25"></div>
            <div class="v210_26">
                <a href="./manu.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="head_icon">
                <a href="./Info.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>