<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v17_10"><span class="v20_94">總資產</span><span class="v21_96">交易紀錄：</span><span class="v21_143">5/20 A234
            入 $999</span><span class="v21_144">5/20 A234 出 $999</span><span class="v21_145"> 美元 $388 </span><span
            class="v21_150"> 日幣 $388 </span><span class="v21_98">檢視全部</span><span class="v21_97">我的外幣：</span><span
            class="v21_95">$ 55688</span>
        <div class="v164_107"></div>
        <div class="v164_106"></div>
        <div class="v210_28">
            <div class="v210_29"></div>
            <div class="v210_30"></div>
            <div class="v210_31"></div>
            <div class="v210_32">
                <a href="./manu.html">
                    <button type="button" class="button"></button>
                </a>
            </div>
            <div class="head_icon">
                <a href="./Info.html">
                <button type="button" class="button"></button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>